/* style for tab medium device  */

@media screen  and (min-width: 577px) and (max-width: 992px) {
/*? header section start here  */
header{
    height: fit-content;
}
.header-section-container{
    height: fit-content;
}
.nav-header-container {
    width: max-content;
    height: 40px;
    gap: 16.63px;
}
.header-logo{
    height: 40px;
}
.header-title {
    width: 90%;
    height: 50%;
    font-weight: bolder;
    font-size: 20px;
}
.nav-links > ul li{
    font-size: 16px;
}
/*todo hover nav style  */
.nav-links >ul li:hover{
    transform: scale(1.1);
}
/* banner section start here  */
.banner-section{
    margin-top: 30px;
}
.banner-section-container{
    width: 100%;
}
.banner-section-input-container{
    grid-template-columns: repeat(2,174px);
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
    width: 90%;
}
#input-cotainer-1{
    margin-left: 0;
}
/*! header section end here  */
 /* popular tours section start here  */
 .tour-section{
    height: fit-content;
 }
 .tour-section-container{
    height: fit-content;
 }
 .tour-text-container{
    justify-content: space-evenly;
    height: 500px;
 }
.tour-title{
    width: 100%;
 }
 .tour-image-container{
    height: 80%;
 }
/*! popular tours section ends  here  */ 
/* Choose Your Destination section start here*/
.destination-text-container{
    width:100%;
    height: fit-content;
    padding-top: 10px;
    gap: 10px;
} 
.destination-image-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.img-box-1 , .img-box-2 ,
.img-box-3 , .img-box-4 ,
.img-box-5 , .img-box-6 ,
.img-box-7{
    width: 90%;
    height: 200px;
    margin: 0 auto;
}

/*! Choose Your Destination section ends here*/
  /* Why Choose Us section start here  */
  .choose-us-section-container{
    height: fit-content;
    gap: 15px;
}
.choose-us-text-container{
    width:100%;
    height: fit-content;
    gap: 20px;
}
.choose-us-title{
    font-size: var(--sub-title-font-size);
}
.choose-us-card-contianer{
    gap: 10px;
    height: fit-content;
    justify-content: center;
}
.choose-us-card {
    height: 250px;
    width: 450px;
}

/*! Why Choose Us section ends here  */
/* Deals & Discounts section start here  */

.tour-child-card-container-1 ,.tour-child-card-container-2 ,.tour-child-card-container-3 {
    width: 450px;
    height: 340px;
    margin: 60px;
    margin-right: 30px;
    margin-left: auto;

}
.tour-child-card-container-2{
    margin-left: 30px ;
    margin-right: auto;
}
/*! Deals & Discounts section ends here  */
/*? Simple Perfect Place section start here  */
.place-text-container{
    width: 48%;
    height: 320px;
}
.place-title{
    width: 100%;
    font-size: 26px;
}
.place-list-pera{
    height: fit-content;
}
.place-video-container{
    width: 48%;
    height: 320px;
}
/*! Simple Perfect Place section ends  here */
/*? Newsletter section start  here */
.news-text-input-container{
    width: 45%;
}
.news-pera{
    width: fit-content;
}
.news-image-container{
    width: 50%;
}
/*! Newsletter section ends  here */
}