/* style for small device...mobile  */
@media screen and (max-width: 576px) {
/*? header section start here  */
header{
    height: fit-content;
}
.header-section-container{
    height: fit-content;
}
.nav-bar-main{
    height: max-content;
}
.nav-links{
    display: none;
}
.hamburger{
    display: block;
}
.nav-header-container {
    width: max-content;
    height: 40px;
    gap: 16.63px;
}
.header-logo{
    height: 40px;
}
.header-title {
    width: 90%;
    height: 50%;
    font-weight: bolder;
    font-size: 20px;
}
/* banner section start here  */
.banner-section{
    margin-top: 10px;
    height: 480px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 1) ,rgba(54, 54, 60, 0.137) 90%) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
}

.banner-section-container {
    width: 90%;
    height: fit-content;

}
.banner-section-text-container{
    width: 100%;
    margin-bottom: 10px;
    height: fit-content;
}
.banner-title{
    font-size: 1.6em;
    width: 100%;
    padding-bottom: 10px;
}
.banner-text{
    font-size: .80em;

}
/* banner input start here  */
.banner-section-input-container{
    width: 100%;
    height: fit-content;
    grid-template-columns: repeat(1,174px);
    /* justify-content: center; */
}
.input-cotainer{
    width: 200px;
    height: 42px;
    margin: 16px;
}
/*! header section end here  */
/* popular tours section start here  */
.tour-section{
    height: fit-content;
}

.tour-section-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.tour-text-container{
    width: 100%;   
    gap: 10px;
}
.tour-title{
    width: 100%;
    font-size: var(--sub-title-font-size);
    padding: 5px 0;
}
.tour-pera-3{
    width: 95%;
}
.tour-image-container{
    width: 100%;
    height: fit-content;
}
/*! popular tours section ends  here  */
/* Choose Your Destination section start here*/
.destination-text-container{
    width:100%;
    height: fit-content;
    padding-top: 10px;
    gap: 10px;
}
.destination-title{
    font-size: var(--sub-title-font-size);
}
/* image style start here  */
.destination-image-container{
    height: calc( 100% - 180px);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.img-box-1 , .img-box-2 ,
.img-box-3 , .img-box-4 ,
.img-box-5 , .img-box-6 ,
.img-box-7{
    width: 100%;
    height: 174px;
}
/*! Choose Your Destination section ends here*/
/* Why Choose Us section start here  */
.choose-us-section-container{
    height: fit-content;
    gap: 15px;
}
.choose-us-text-container{
    width:100%;
    height: fit-content;
    gap: 10px;
}
.choose-us-title{
    font-size: var(--sub-title-font-size);
}
.choose-us-card-contianer{
    gap: 10px;
    height: fit-content;
}
.choose-us-card {
    height: 250px;
    width: 450px;
}
/*! Why Choose Us section ends here  */
/* Deals & Discounts section start here  */
.deals-text-container{
    width: 100%;
    margin: 20px auto;
}
.deals-title{
    font-size: var(--sub-title-font-size);
} 
.deals-pera{
    width: 100%;
    text-align: center;
}
/*! Deals & Discounts section ends here  */
}

