/* universal selector start here  */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
ul > li {
    list-style: none;
}
a{
    text-decoration: none;
}
/*! universal style ends here  */

/*todo font setup start here  */
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
/*! font setup ends here  */
/* share style start here  */
:root{
    --orange-color:#FF5400;
    --drak-1:rgba(19, 19, 24, 1);
    --dark-2:rgba(90, 90, 93, 1);
    --dark-3:rgba(19, 19, 24, 0.7); 
    --white-color:rgba(255, 255, 255, 1);
    --gray-color:rgba(19, 19, 24, 0.5);
    --nav-color:rgba(66, 66, 71, 1);
    --title-font-size:32px;
    --title-font-width:bolder;
    --sub-title-font-size:26px;
    --sub-title-font-width:bold;
    --center-aling:center;
}
.btn-primary{
        width: 150px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: var(--orange-color);
        border-radius: 6px;
        color: var(--white-color);
        border: none;
}
.share-title{
    /* width: 60%; */
    height: fit-content;
    font-size: var(--title-font-size);
    color: var(--drak-1);
    text-align: var(--center-aling);
    font-weight: var(--title-font-width);
}
.share-pera{
    text-align: var(--center-aling);
    color: var(--dark-3);
    font-size: small;
}
/* share style ends here  */

/*!universal selector ends  here  */
/* nav section start here  */
header{
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
}
.header-section-container{
    max-width: 85%;
    height: 700px;
    margin: 0 auto;
}
.nav-bar-main{
    max-width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*? nav header style start here  */
.nav-header-container{
    width:max-content;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16.63px;
}
.header-logo{
    width: 48px;
    height: 56px;
    position: relative;
}
.header-logo img{
    width: 100%;
    height: 100%;
}
.header-title{
    width: 201px;
    height: 45px;
    font-weight: bolder;
    font-size: 36px;
}
.header-title > span{
    color: var(--orange-color);
}
/*? nav header style ends here  */
.nav-links{
    width:60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links > ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links > ul li{
    display: inline-block;
    width: max-content;
    font-size: 18px;
}
.nav-links >ul li:first-child a{
    color: var(--orange-color);
}
.nav-links > ul li a{
    color: var(--nav-color);
}
.hamburger{
    display: none;
}
/* nav main hover style start here  */
@keyframes fly-logo {
    0%{
        left:0%;
        transform: none;
    }
    90%{
        left: 100%;
        transform: none;
    }
    99%{
        left: 100%;
        transform: rotate(180deg);
    }
    100%{
        left: 10%;
    }
}
.nav-bar-main:hover .header-logo{
    animation: fly-logo 5s ease-in-out 100ms 1 alternate ;
}
.nav-links >ul li:first-child a:hover{
    box-shadow: 1px 1px 10px whitesmoke;
    border-radius: 2px;
    color: red;
}
.nav-links > ul li a:hover {
    color: var(--orange-color);
}
.nav-links >ul li:hover{
    transition: transform 100ms ease-in-out 5ms;
    transform: scale(1.25);
}
/*! nav section ends  here  */
/* banner section start here  */
.banner-section{
    max-width:100%;
    height: 500px;
    margin-top: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 1) ,rgba(35, 35, 40, 0.084) 90%) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-section-container{
    width: 70%;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.banner-section-text-container{
    width: 80%;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    width: 90%;
    /* margin: 0 auto; */
    padding-top: 20px;
    font-size: 50px;
    color: var(--white-color);
    text-align: center;
}
.banner-text{
    color: var(--white-color);
    text-align: center;
    padding-bottom: 10px;
}
/* banner-text-container ends here  */

.banner-section-input-container{
    width: fit-content;
    height: 85px;
    display: grid;
    grid-template-columns: repeat(4,174px);
    align-items: center;
    column-gap: 15px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    filter: blur(30%);
}
.input-cotainer{
    width: 130px;
    height: 42px;
    display: flex;
    align-items: center;
   border-radius: 6px;
}
#input-cotainer-1{
    margin-left: 16px;
}
.input-cotainer > input[type="text"] , select{
   width: 100%;
   height: 100%;
    border: none;
   border-radius: 6px;
   padding-left: 10px;
   color: var(--gray-color);
}

.input-cotainer > input[type="text"]:focus , select:focus{
    color:var(--drak-1);
}
.btn-find{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--orange-color);
    border-radius: 6px;
    color: var(--white-color);
    border: none;
}
.btn-find:hover , .btn-primary:hover{
    cursor: pointer;
}
/*! header section ends here  */
/* popular tours section start here  */
.tour-section{
    max-width: 1440px;
    height: 580px;
    margin: 0 auto;
}
.tour-section-container{
    max-width: 85%;
    height: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-text-container{
    width: 50%;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tour-title{
    width: 60%;
    height: fit-content;
    font-size: var(--title-font-size);
    color: var(--drak-1);
}
.tour-pera-1{
    width: 100%;
    height: fit-content;
    font-size: small;
    color: var(--dark-3);
}
.tour-pera-2{
    width: 95%;
    height: 150px;
    padding-left: 10px;  
    color: var(--dark-3);
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tour-pera-3{
    width: 90%;
    height: fit-content;
    color: var(--dark-3);
    font-size: small;
}
.tour-text-container > button{
    margin: 16px auto;
}

.tour-image-container{
    width: 45%;
    height: 580px;
    display: flex;
    align-items: center;
}
.tour-image-container img{
    width: 100%;
}
/*! popular tours section ends  here  */

/* Choose Your Destination section start here*/
.destination-section{
    max-width: 1440px;
    height: fit-content;
    margin: 0 auto;

}
.destination-section-container{
    width: 85%;
    height: fit-content;
    margin: 0 auto;
}
.destination-text-container{
    width: 60%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.destination-title{
    width: fit-content;
    height: fit-content;

}
.destination-pera{
    width: 95%;
    height: fit-content;
}
/* image style start here  */
 .destination-image-container{
    margin-top: 32px;
    height: calc( 100% - 180px);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px 250px 300px ;
    gap: 24px;
}
.img-box-1{
    grid-column: 1/span 2;
    background-image: url('../Images/Rectangle\ 5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box-2{
    grid-column: 3/span 4;
    border: none;
    border-radius: 16px;
    background-image: url('../Images/Rectangle\ 8.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box-3{
    background-image: url('../Images/Rectangle\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 16px;
    grid-column: 1/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-box-4{
    background-image: url('../Images/Rectangle\ 7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 16px;
    grid-column: 2/span 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-box-5{
    background-image: url('../Images/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 16px;
    grid-column: 4 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-box-6{
    background-image: url('../Images/Rectangle\ 11.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 16px;
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-box-7{
    background-image: url('../Images/Rectangle\ 10.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 3/ span 4;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.destination-image-container span{
    color: var(--white-color);
    font-size: 24px;
    font-weight: var(--sub-title-font-width);
}
/*! Choose Your Destination section ends here*/

/* Why Choose Us section start here  */
.choose-us-section{
    max-width: 1440px;
    height: fit-content;
    margin: 0 auto;
}
.choose-us-section-container{
    width: 85%;
    height: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.choose-us-text-container{
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.choose-us-pera , .choose-us-title{
    width: fit-content;
    height: fit-content;
}
.choose-us-card-contianer{
    width: 100%;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.choose-us-card{
    height: 270px;
    width: 500px;
    border-radius: 16px;
}
#choose-us-card-1{
    background-color: rgba(251, 181, 99, 0.05);
}
#choose-us-card-2{
    background-color: rgba(41, 206, 246, 0.05);
}
#choose-us-card-3{
    margin: 0 auto; 
    background-color: rgba(233, 68, 68, 0.05);
}
.card-contant{
    width: 90%;
    margin: 25px 0;
    margin-left: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-icon{
    width: 60px;
    height: 60px;
}
.card-icon img{
    width: 100%;
    height: 100%;
}
.card-icon:hover{
    transform: scale(1.25) translateX(3px) translateY(-3px);
}
.card-title{
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
}
.card-text{
    width: fit-content;
    height: fit-content;
    text-align: left;
}
/* todo responsive for 1024 device small laptop  start here */
@media screen  and (min-width: 993px) and (max-width: 1179px){
   
    .choose-us-section-container{
        height: 700px;
        justify-content: space-between;
      
    }
    .choose-us-text-container{
        gap: 15px;
    }
    .choose-us-card-contianer{
        height: max-content;
        gap: 20px;
    }
    
    .choose-us-card {
        height: 250px;
        width: 400px;
    }
}
/*? responsive for 1024 device small laptop  ends here */
/*! Why Choose Us section ends here  */
/* Deals & Discounts section start here  */
.deals-section{
    max-width: 1440px;
    height: fit-content;
    margin: 0 auto;
}
.deals-section-container{
    width: 85%;
    height: 1780px;
    margin: 0 auto;
}
.deals-text-container{
    width: 60%;
    height: 100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.deals-title{
    width: fit-content;
} 
.deals-pera{
    width: fit-content;
}
.deals-tour-card-container{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.tour-deals-1 ,.tour-deals-3{
    width: 100%;
    height: 480px;
    border-radius: 16px;
    background-image: url('../Images/Group\ 39.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.tour-deals-2{
    width: 100%;
    height: 480px;
    border-radius: 16px;
    background-image: url('../Images/Group\ 40.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tour-child-card-container-1 ,.tour-child-card-container-3{
    width: 500px;
    height: 360px;
    border-radius: 16px;
    margin: 50px;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.703);
    fill-opacity: 100%;
}
.tour-child-card-container-2{
    width: 500px;
    height: 360px;
    border-radius: 16px;
    margin: 50px;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.703);
    fill-opacity: 100%;
}
.tour-child-card-contant{
    margin: 30px;
    margin-right: 40px;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    filter: brightness(110%) contrast(110%) ;
    padding-top: 25px;
}
.tour-icon-container{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.watch , .frame , .location{
    width: 20px;
    height: 20px;
}
.watch img , .frame img , .location img{
    width: 100%;
    height: 100%;
}
.tour-item-1 , .tour-item-2 , .tour-item-3{
    width: fit-content;
    display: flex;
    gap: 7px;
}
.tour-item-1 p , .tour-item-2 p , .tour-item-3 p {
    font-size: small;
}

.tour-title{
    width: fit-content;
    height: fit-content;
    font-size: var(--sub-title-font-size);
}
.tour-pera {
    width: fit-content;
    height: fit-content;
    text-align: left;
}
.tour-price{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: bolder;
    color: var(--orange-color);
}
.book-now-btn{
    width: 140px;
}
.package-btn{
    width: 180px;
    margin: 30px auto;
}
/*! Deals & Discounts section ends here  */
/*? Simple Perfect Place section start here  */
.place-section{
    max-width: 1440px;
    height: fit-content;
    margin: 0 auto;
}
.place-section-container{
    width: 85%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.place-text-container{
    width: 48%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.place-title{
    width: 75%;
    height: fit-content;
    text-align: left;
}
.place-pera{
    width: 85%;
    height: fit-content;
    text-align: left;
}
.place-list-pera{
    width: 95%;
    height: 100px;
    padding-left: 15px;
    font-weight: 600;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.place-list-pera ul li{
    list-style: disc;

}

.place-video-container{
    width: 48%;
    height: 300px;
    display: flex;
    align-items: center;
}
.place-video-container video {
    width: 100%;
    height: 100%;
}
/*! Simple Perfect Place section ends  here */
/*? Newsletter section start  here */
.news{
    max-width: 1440px;
    height: fit-content;
    margin: 0 auto;
}
.news-section-container{
    width: 85%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-text-input-container{
    border: 2px solid rgba(255, 84, 0, 1);
    width: 40%;
    height: 380px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.news-text-container{
    width: 90%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-title{
    width: fit-content;
    height: fit-content;
}
.news-pera{
    text-align: left;
    width: 75%;
}
hr{
    width: 90%;
}
.news-input-container{
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
   #name{
        width: calc( 100% - 15px);
        height: 40px;
        border: none;
        border-radius: 8;
        padding-left: 15px;
        background-color: rgba(19, 19, 24, 0.05);
    }
    input[type="email"]{
        width: calc( 100% - 15px);
        height: 40px;
        border: none;
        border-radius: 8;
        padding-left: 15px;
        background-color: rgba(19, 19, 24, 0.05);
    }
.Subscribe-btn{
    width: 100%;
}
.news-image-container{
    width: 55%;
    height: 380px;
    border-radius: 16px;
    position: relative;
}
.news-image-container img{
    width: 100%;
    height: 100%;
}
.save-up-text{
    background-color: var(--orange-color);
    width: 190px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10.57px;
    border: none;
    position: absolute; 
    transform: rotate(-35deg);
    bottom: 15%;
    left: 35%;
    color: white;
    font-weight: bolder;
}
.save-up-text span{
    font-size: small;
    font-weight: 500;
}
/*! Newsletter section ends  here */
/* footer section start here  */
    footer{
        max-width: 1440px;
        height: fit-content;
        margin: 0 auto;
        background-color: rgba(19, 19, 24, 0.05);
    }
    .footer-section-container{
        width: 85%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

.footer-logo-container{
    display: flex;
    gap: 15px;
    width: fit-content;
    align-items: center;
}
/* animation start here  */
.footer-section-container:hover .footer-logo{
    animation: fly-logo 3s ease-in-out 100ms 1 alternate ;
}
/*! animation ends  here  */
.footer-pera{
    width: 60%;
}
.footer-icon-container{
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-link-logo{
    width: 24px;
    height: 23px;
}
.footer-link-logo img{
    width: 100%;
    height: 100%;
}
/* icon hover style start here  */
.footer-link-logo:hover{
    transform: scale(1.25) translateX(-2px);
}
/* !icon hover style ends here  */
.copy-right{
    width: fit-content;
    font-size: small;
}
/*! footer section ends here  */