/* universal selector start here  */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
ul > li {
    list-style: none;
}
a{
    text-decoration: none;
}
/*! universal style ends here  */

/*todo font setup start here  */
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
/*! font setup ends here  */
/* share style start here  */
:root{
    --orange-color:#FF5400;
    --drak-1:rgba(19, 19, 24, 1);
    --dark-2:rgba(90, 90, 93, 1);
    --dark-3:rgba(19, 19, 24, 0.7); 
    --white-color:rgba(255, 255, 255, 1);
    --gray-color:rgba(19, 19, 24, 0.5);
    --nav-color:rgba(66, 66, 71, 1);
    --title-font-size:40px;
    --title-font-width:bolder;
    --sub-title-font-size:40px;
    --sub-title-font-width:bold;
}
/* share style ends here  */

/*!universal selector ends  here  */
/* nav section start here  */
header{
    border: 2px solid violet;
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
}
.header-section-container{
    border: 2px solid red;
    max-width: 85%;
    height: 700px;
    margin: 0 auto;
}
.nav-bar-main{
    border: 2px solid blue;
    max-width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*? nav header style start here  */
.nav-header-container{
    border: 2px solid rgb(79, 9, 15);
    width:max-content;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16.63px;
}
.header-logo{
    width: 48px;
    height: 56px;
    position: relative;
}
.header-logo img{
    width: 100%;
    height: 100%;
}
.header-title{
    width: 201px;
    height: 45px;
    border: 2px solid blue;
    font-weight: bolder;
    font-size: 36px;
}
.header-title > span{
    color: var(--orange-color);
}
/*? nav header style ends here  */
.nav-links{
    border: 2px solid red;
    width:60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links > ul{
    border: 2px solid rgb(0, 255, 102);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links > ul li{
    display: inline-block;
    width: max-content;
    font-size: 18px;
}
.nav-links >ul li:first-child a{
    color: var(--orange-color);
}
.nav-links > ul li a{
    color: var(--nav-color);
}
.hamburger{
    display: none;
}
/* nav main hover style start here  */
@keyframes fly-logo {
    0%{
        left:0%;
        transform: none;
    }
    90%{
        left: 100%;
        transform: none;
    }
    99%{
        left: 100%;
        transform: rotate(180deg);
    }
    100%{
        left: 10%;
    }
}
.nav-bar-main:hover .header-logo{
    animation: fly-logo 5s ease-in-out 100ms 1 alternate ;
}
.nav-links >ul li:first-child a:hover{
    box-shadow: 1px 1px 10px whitesmoke;
    border-radius: 2px;
    color: red;
}
.nav-links > ul li a:hover {
    color: var(--orange-color);
}
.nav-links >ul li:hover{
    transition: transform 100ms ease-in-out 5ms;
    transform: scale(1.25);
}
/*! nav section ends  here  */
/* banner section start here  */
.banner-section{
    border: 2px solid blue;
    max-width:100%;
    height: 500px;
    margin-top: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 1) ,rgba(35, 35, 40, 0.084) 90%) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-section-container{
    border: 2px solid red;
    width: 70%;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.banner-section-text-container{
    border: 2px solid paleturquoise;
    width: 80%;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    width: 90%;
    /* margin: 0 auto; */
    padding-top: 20px;
    font-size: 50px;
    color: var(--white-color);
    text-align: center;
}
.banner-text{
    color: var(--white-color);
    text-align: center;
    padding-bottom: 10px;
}
/* banner-text-container ends here  */

.banner-section-input-container{
    border: 2px solid blue;
    width: 100%;
    height: 85px;
    display: grid;
    grid-template-columns: repeat(4,174px);
    align-items: center;
    column-gap: 15px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
}
.input-cotainer{
    border: 2px solid paleturquoise;
    width: 130px;
    height: 42px;
    display: flex;
    align-items: center;
   border-radius: 6px;
}
#input-cotainer-1{
    margin-left: 16px;
}
.input-cotainer > input[type="text"] , select{
   width: 100%;
   height: 100%;
    border: none;
   border-radius: 6px;
   padding-left: 10px;
   color: var(--gray-color);
}

.input-cotainer > input[type="text"]:focus , select:focus{
    color:var(--drak-1);
}
.btn-find{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--orange-color);
    border-radius: 6px;
    color: var(--white-color);
    border: none;
    
}



